<form [formGroup]="formularioDocumento">
    <label for="name" class="form-label">{{variableNueva}}</label>
    <input [ngClass] = "{'is-invalid': hasErrors('DNI', 'required') || hasErrors ('DNI', 'minlength')}" 
        type="text" class="form-control" id="name" formControlName="DNI"> 
    <div class="text-danger"*ngIf="hasErrors('DNI', 'required')"> {{variableNueva}} Requerido.</div>
    <div class="text-danger"*ngIf="hasErrors('DNI', 'minlength')"> {{variableNueva}} requiere minimo 3 caracteres.</div>
</form>