
<div class="container">
   

<h1>Productos de Computadora: </h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Disco Externo </td>
        <td>$10</td>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', 'red', 'disco-externo']">Detalle</button>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Teclado</td>
        <td>$5</td>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', 'yellow', 'teclado']">Detalle</button>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mouse</td>
        <td>$8</td>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', 'green', 'mouse']">Detalle</button>
      </tr>
    </tbody>
  </table>
</div>